.cityList {
  width: 100%;
  list-style: none;
  overflow-y: auto; /* only show scroll when needed */
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  /* max-height: 24rem; */
  overscroll-behavior: contain; /* prevents scroll chaining to parent */
}

@media (max-width: 575px) {
  .cityList {
    max-height: 30rem;
  }
}

/* Optionally, add custom scrollbar styles to see a scroll indicator */
.cityList::-webkit-scrollbar {
  width: 0px; /* Set a visible width */
}

.cityList::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.cityList::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* For Firefox */
.cityList {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}
